{% load static %}
{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Libro de Combate</title>
    <link rel="stylesheet" href="{% static 'combate/css/bootstrap.min.css'%}" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'combate/css/style.css'%}">

</head>

<body style="background-image: url('{% static "/combate/Imagenes/calpheon.png "%}');">
    <!--Header -->
    <header>
        <div class="container-fluid bg-dark ">

            <div class="row  ">
                <div class="col-sm p-2 mx-md-5 text-center">

                    <div class="col d-inline-flex  p-3">
                        <a href="https://discord.com/"><img src="{% static 'combate/Imagenes/Discord.png'%}" class="img-fluid" width="30" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://twitch.com/"><img src="{% static 'combate/Imagenes/Twitch.png'%}" class="img-fluid" width="30" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://Youtube.com/"><img src="{% static 'combate/Imagenes/Youtube.png'%}" class="img-fluid" width="30" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://blackdesert.playredfox.com/black_desert"><img src="{% static 'combate/Imagenes/BDO.png'%}" class="img-fluid" width="30" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--   Logo  -->

    <section>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{% url 'Inicio' %}"><img src="{% static 'combate/Imagenes/Logotipo.png'%}" class="img-fluid"style="margin: 0 auto;" width="250"
                            alt=""></a>
                </div>


            </div>

        </div>

    </section>

    <!--Section -->
    <section>
        <div class="container-fluid">
            <div class="row ">
                <div class="pageWidth ">
                    <div class="pageContent">
                        <!--Navbar -->
                        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark p-4 ">
 
                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'Inicio' %}">Inicio</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guias</a>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="{% url 'Sistema' %}">Sistema de CC</a></li>
                                            <li><a class="dropdown-item" href="{% url 'Tipo' %}">Tipo de CC</a></li>
                                            <li><a class="dropdown-item" href="{% url 'Estado' %}">Estado de Combate</a></li>
                                          </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'Sobre' %}">Sobre Nosotros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'Contacto' %}">Contactanos</a>
                                    </li>

                                
                                   
                                </ul>
                                {% if request.user.is_authenticated and user.username == "admin" %}

                                <ul class="navbar-nav">
                                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{% url 'ListarApi' %}">Listar Api</a>
                                        </li>    
                                    </nav>
                                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
                                        <div class="collapse navbar-collapse" id="navbarText">
                                           
                                            <li class="nav-item">
                                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" >Crud SQL</a>
                                                <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                                    <li><a class="dropdown-item" href="{% url 'ListarSql' %}">Listar</a></li>
                                                    <li><a class="dropdown-item" href="{% url 'formularioparche' %}">Formulario Parche</a></li>
                                                    
                                                  </ul>
                                            </li> 
                                           
                                        </div>
                                    </nav>
                                </ul>
                                {% endif %}
                                

                                


                                
                            </div>
                            
                            <a href="{% url 'login' %}"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor"  class="bi bi-file-person" viewBox="0 0 16 16">
                                <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
                                <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"  /></svg>  </a>
                                
                            
                            {% if user.username == "admin" %}
                            <a href="{% url 'logout' %}"> Desconectar </a>
                                
                            {% endif %}

                        </nav>
                        <!--Inicio-->



                        <div>
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a href="https://www.blackdesertfoundry.com/"> <img src="{{ img1.url }}" class="d-block w-100 " alt="..."></a>
                                        <div class="carousel-caption d-block d-md-block">
                                            <h1>{{titulo1}}</h5>
                                                <h5>{{descr1}}
                                            </h1>
                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="https://bdocodex.com/es/skillbuilder/"> <img src="{{ img2.url }}" class="d-block w-100 " alt="..."></a>
                                        <div class="carousel-caption d-block d-md-block">
                                            <h1>{{titulo2}}</h5>
                                                <h5>{{descr2}}</h5>

                                        </div>
                                    </div>
                                    <div class="carousel-item">
                                        <a href="https://bdoplanner.com/"><img src="{{ img3.url }}" class="d-block w-100 " alt="..."></a>
                                        <div class="carousel-caption d-block d-md-block">
                                            <h1>{{titulo3}}</h5>
                                                <h5>{{descr3}}</h5>
                                        </div>
                                    </div>

                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="text-center m-5 pt-5">
                                    <h1 class="mb-5"> Calendario BDO</h1>
                                    <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23039BE5&amp;ctz=America%2FSantiago&amp;src=MHZyajJmOGZ0NTJzdjk1ZGxpYTI1amNvZWtAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%239E69AF&amp;showTitle=0&amp;showNav=0&amp;showDate=1&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0"
                                        style="border:solid 1px #777" width="800" height="400" frameborder="0" scrolling="no"></iframe>

                                </div>
                            </div>


                        </div>



                        <div class="row">


                            <div class="col">

                                <div class="text-center m-5 pt-5">
                                    <h1 class="mb-5"> Actualizacion</h1>
                                    <p class="d-block"> </p>
                                </div>

                            </div>


                            <div class="row">
                                <div class="col-sm">
                                    <div class="card w-100 card-border mb-5">
                                        <a href="https://www.blackdesertfoundry.com/global-lab-updates-8th-april-2021/">
                                            <img class="card-img-top" src="{{ img4.url }}" alt="Card image cap"></a>
                                        <div class="card-body">
                                            <h5 class="card-title text-dark">Actualizacion {{fecha2}}</h5>
                                            <p class="card-text text-dark">{{desc2}}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="card w-100 card-border mb-5">
                                        <a href="https://www.blackdesertfoundry.com/global-lab-updates-15th-april-2021/">
                                            <img class="card-img-top" src="{{ img.url }}" alt="Card image cap"></a>
                                        <div class="card-body">
                                            <h5 class="card-title text-dark">Actualizacion {{fecha1}} </h5>
                                            <p class="card-text text-dark">{{desc1}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>


            </div>


        </div>



    </section>





    <!--Footer -->
    <div id="footer" class="p-5">
        <div class="container-fluid text-center  bg-dark ">
            <div class="row">
                <div class="col">

                    <div class="col d-inline-flex  p-3">
                        <a href="https://discord.com/"><img src="{% static 'combate/Imagenes/Discord.png'%}" class="img-fluid" width="20" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://twitch.com/"><img src="{% static 'combate/Imagenes/Twitch.png'%}" class="img-fluid" width="20" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://Youtube.com/"><img src="{% static 'combate/Imagenes/Youtube.png'%}" class="img-fluid" width="20" alt=""></a>
                    </div>
                    <br> © 2021 El Libro del Combate. Derechos por Reservar. Este sitio no esta afiliado con RedFox ni PearlAbyss


                </div>


            </div>

        </div>


        <button onclick="topFunction()" id="myBtn" title="Go to top">Subir</button>
    </div>


    <script src="{% static 'combate/js/boton.js'%}"></script>
    <script src="{% static 'combate/js/popper.min.js'%}"></script>
    <script src="{% static 'combate/js/bootstrap.min.js'%}"></script>
</body>

</html>