<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Libro de Combate</title>
    <link rel="stylesheet" href="Libreria/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="Libreria/css/style.css">

</head>

<body>
    <!--Header -->
    <header>
        <div class="container-fluid bg-dark">

            <div class="row ">
                <div class="col-sm p-2 mx-md-5 text-center ">

                    <div class="col d-inline-flex  p-3">
                        <a href="https://discord.com/"><img src="Imagenes/Discord.png" class="img-fluid" width="30"
                                alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://twitch.com/"><img src="Imagenes/Twitch.png" class="img-fluid" width="30"
                                alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://Youtube.com/"><img src="Imagenes/Youtube.png" class="img-fluid" width="30"
                                alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://blackdesert.playredfox.com/black_desert"><img src="Imagenes/BDO.png" class="img-fluid" width="30"
                                alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!--   Logo  -->

    <section>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="index.html"><img src="Imagenes/Logotipo.png" style="margin: 0 auto;" width="250"
                            alt=""></a>
                </div>


            </div>

        </div>

    </section>

    <!--Section -->
    <section>
        <div class="container-fluid">
            <div class="row ">
                <div class="pageWidth ">
                    <div class="pageContent">
                        <!--Navbar -->
                        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark p-4 ">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toogle navigation">

                                <span class="navbar-toggler-icon"> </span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Inicio</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guias</a>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="SistemaCC.html">Sistema de CC</a></li>
                                            <li><a class="dropdown-item" href="TipoCC.html">Tipo de CC</a></li>
                                            <li><a class="dropdown-item" href="Estado.html">Estado de Comabte</a></li>
                                          </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="SobreNosotros.html">Sobre Nosotros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Contactanos.html">Contactanos</a>
                                    </li>
                                </ul>


                            </div>

                        </nav>
                        <!--Sobre Nosotros-->

                        <div id="Actualizaciones">
                            <div class="container-md p-5">
                                <div class="row pt-1">
                                    <h3 class="text-center pb-5 m-1 pt-1 h1"> Sobre Nosotros</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm">

                                </div>
                            </div>


                        </div>


                        <div class="container fluid">

                            <div class="row">


                                <div class="col-md-15">

                                    <img src="Imagenes/Nova.png" id="img3" class="img-fluid m-3" style="float: left;"
                                        alt="Super armadura">
                                    <div class="text-justify m-5 pt-5">

                                        <p class="d-inline"> Empecé a jugar por insistencia de mi hermano descubrí que
                                            era un juego demasiado extenso pero de a poco fuimos aprendiendo luego
                                            descubrimos que el sistema pvp era algo único y comenzamos a practicar, por
                                            mi parte intente utilizar todas las clases existentes para aprender de ellas
                                            y elegir una de mi gusto , termine utilizando a la semi-nueva personaje
                                            llamada “Nova” pero durante el tiempo anterior siempre utilice la clase
                                            Arquero para apoyar a mi hermano, participamos en torneos solamente para
                                            averiguar de que éramos capaces y terminamos en primer lugar luego junto a
                                            unos amigos participamos en un torneo oficial logrando quedar en segundo
                                            lugar siendo esto un gran logro. Al día de hoy estamos concentrados en
                                            terminar nuestros estudios y averiguar qué tan lejos podemos llegar. </p>
                                    </div>

                                </div>

                                <div class="col-md-15">
                                    <img src="Imagenes/Sorc.JPG" class="img-fluid" width="370px" height="650"
                                        style="float: right;" alt="Iframe">
                                    <div class="text-justify m-5 pt-5">

                                        <p class="d-inline"> Esta travesía empezó como un día cualquiera con ganas de
                                            jugar un video juego distinto a
                                            lo que yo usualmente jugaba, vi muchos videos de Black Desert, hasta que un
                                            día decidí jugarlo y emprender
                                            mi viaje en Black Desert. En el transcurso de mi viaje en el juego tuve
                                            muchos conflictos, pérdidas,
                                            pero también victorias y logros. Comenzando por los conflictos y pérdidas,
                                            las personas dentro del juego
                                            pueden llegar a ser muy destructivas cuando quieren lograr ciertas cosas, en
                                            mi caso personal recibí mucho
                                            odio, envidia, celos de otras personas, porque mi nombre dentro del juego
                                            empezó a adquirir cierto grado de
                                            fama por destacar con mi clase, entre otras cosas más. Mi hermano y amigos
                                            más cercanos estuvieron motivándome
                                            para continuar entrenando y estudiar el juego para seguir creciendo. Mis
                                            esfuerzos y motivación se vio reflejada
                                            ganando torneos, en donde conseguí junto a mi hermano, ganar el 1er lugar en
                                            un Torneo de Sudamérica “No-Oficial”
                                            como invictos, ganando Dinero como recompensa al 1er puesto, también junto a
                                            mi hermano y 3 amigos más, logramos
                                            quedar en 2do lugar en un Torneo de Sudamérica “Oficial”, espectado por todo
                                            NorteAmérica, Europa y Corea, ganando
                                            alrededor de 250 dólares como recompensa, con tales torneos logre que mi
                                            nombre sea reconocido en Sudamérica,
                                            Norteamérica, Corea, Europa, actualmente las personas se refieren a mi como
                                            uno de los mejores jugadores de mi clase
                                            en Sudamérica. También logre ser reconocido por las personas nuevas, al
                                            punto de ser un modelo a seguir para ellos.
                                            Terminando esto como uno de mis mayores logros, además de conocer verdaderos
                                            amigos, entre ellos Brasileños,
                                            me enseñaron a hablar su idioma, actualmente logró mantener una conversación
                                            fluida con ellos. </p>
                                    </div>
                                </div>
                                



                            </div>

                        </div>

                    </div>
                </div>


            </div>






        </div>



    </section>





    <!--Footer -->
    <div id="footer" class="p-5">
        <div class="container-fluid text-center bg-dark ">
            <div class="row">
                <div class="col">

                    <div class="col d-inline-flex  p-3">
                        <a href="https://discord.com/"><img src="Imagenes/Discord.png" class="img-fluid" width="20"
                                alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://twitch.com/"><img src="Imagenes/Twitch.png" class="img-fluid" width="20"
                                alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://Youtube.com/"><img src="Imagenes/Youtube.png" class="img-fluid" width="20"
                                alt=""></a>
                    </div>
                    <br> © 2021 El Libro del Combate. Derechos por Reservar. Este sitio no esta afiliado con RedFox ni
                    PearlAbyss


                </div>


            </div>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top">Subir</button>
    </div>

    <script src="/Libreria/js/boton.js"></script>
    <script src="Libreria/js/popper.min.js"></script>
    <script src="Libreria/js/bootstrap.min.js"></script>
</body>

</html>