<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Libro de Combate</title>
    <link rel="stylesheet" href="Libreria/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="Libreria/css/style.css">

</head>

<body>
    <!--Header -->
    <header>
        <div class="container-fluid bg-dark">

            <div class="row ">
                <div class="col-sm p-2 mx-md-5 text-center ">

                    <div class="col d-inline-flex  p-3">
                        <a href="https://discord.com/"><img src="Imagenes/Discord.png" class="img-fluid" width="30" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://twitch.com/"><img src="Imagenes/Twitch.png" class="img-fluid" width="30" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://Youtube.com/"><img src="Imagenes/Youtube.png" class="img-fluid" width="30" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://blackdesert.playredfox.com/black_desert"><img src="Imagenes/BDO.png" class="img-fluid" width="30"
                                alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </header>
    <!--   Logo  -->

    <section>

        <div class="container-fluid ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="index.html"><img src="Imagenes/Logotipo.png" style="margin: 0 auto;" width="250" alt=""></a>
                </div>


            </div>

        </div>

    </section>

    <!--Section -->
    <section>
        <div class="container-fluid">
            <div class="row ">
                <div class="pageWidth ">
                    <div class="pageContent">
                        <!--Navbar -->
                        <nav class="navbar  navbar-expand-lg navbar-dark bg-dark p-4 ">


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                                aria-label="Toogle navigation">

                                <span class="navbar-toggler-icon"> </span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarText">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="index.html">Inicio</a>
                                    </li>
                                    <li class="nav-item ">
                                        <a class="nav-link dropdown-toggle"  href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Guias</a>
                                        <ul class="dropdown-menu " aria-labelledby="navbarDropdownMenuLink">
                                            <li><a class="dropdown-item" href="SistemaCC.html">Sistema de CC</a></li>
                                            <li><a class="dropdown-item" href="TipoCC.html">Tipo de CC</a></li>
                                            <li><a class="dropdown-item" href="Estado.html">Estado de Comabte</a></li>
                                          </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="SobreNosotros.html">Sobre Nosotros</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="Contactanos.html">Contactanos</a>
                                    </li>
                                </ul>


                            </div>

                        </nav>
                        <!--Tipos de CC-->




                        <div class="container fluid">

                            <div class="row">


                                <div class="col-md-15">

                                    <video src="Tipos de CC/Noqueo.webm" class="img-fluid m-3" style="float: right;" alt="Super armadura" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Noqueo</h1>
                                        <p class="d-inline"> Es el mejor cc del juego, ya que no puedes utilizar escape de emergencia, pero 
                                            las resistencias contra el pueden subirse muy fácilmente con cristales, por lo tanto es difícil
                                             de acertar con gente que tenga este tipo de build  y su duración es de 4 segundos en el suelo </p>
                                    </div>

                                </div>

                                <div class="col-md-15">
                                    <video src="Tipos de CC/Desmayo.webm" class="img-fluid m-3" style="float: right;" alt="Iframe" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Desmayo</h1>
                                        <p class="d-inline"> Al igual que el noqueo no se puede utilizar escape de emergencia ,es fácil de 
                                            acertar por sus resistencias difíciles de subir y su duración es de 2 segundos </p>
                                    </div>
                                </div>

                                <div class="col-md-15">
                                    <video src="Tipos de CC/Flotamiento.webm" class="img-fluid m-3" style="float: right;" alt="Guardia frontal" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Flotamiento</h1>
                                        <p class="d-inline"> Es el cc por excelencia de las clases asesinas ya que puedes lograr acertar 
                                            de manera muy fácil ya que los cristales que suben la resistencia para él son muy escasos y su modificar 
                                            “Impacto al aire” aumenta el daño considerablemente, su duración es de 2 segundos</p>
                                    </div>
                                </div>

                                <div class="col-md-15">
                                    <video src="Tipos de CC/Confinamiento.webm" class="img-fluid m-3" style="float: right;" alt="Guardia frontal" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Confinamiento</h1>
                                        <p class="d-inline"> Es el peor cc del juego ya que su duración es de 1 segundo y las clases con agarre pueden 
                                            hacer un spam de su habilidad y agarrarte de manera instantánea desde el suelo</p>
                                    </div>
                                </div>

                                <div class="col-md-15">
                                    <video src="Tipos de CC/Derribo.webm" class="img-fluid m-3" style="float: right;" alt="Guardia frontal" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Derribo</h1>
                                        <p class="d-inline"> No es tan malo como confinamiento pero es recomendable evitar acertar este tipo de ccs 
                                            para extender un combo, su duración es de 2 segundos</p>
                                    </div>
                                </div>

                                <div class="col-md-15">
                                    <video src="Tipos de CC/Congelado.webm" class="img-fluid m-3" style="float: right;" alt="Guardia frontal" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Congelado</h1>
                                        <p class="d-inline">  Es un tipo de cc bastante único para solo los magos y brujas pero actualmente la clase
                                             nova también tiene este tipo de cc, al acertar el daño se reduce un 80% y su duración clásica es de 2 segundos 
                                             pero para la clase nova es más</p>
                                    </div>
                                </div>

                                <div class="col-md-15">
                                    <video src="Tipos de CC/Agarre.webm" class="img-fluid m-3" style="float: right;" alt="Guardia frontal" controls></video>
                                    <div class="text-justify m-5 pt-5">
                                        <h1 class="mb-5"> Agarre</h1>
                                        <p class="d-inline"> Ignora el estado de Super Armadura y su animación no entra dentro del contador de ccs pero cuando
                                             se lanza al objetivo al suelo el tipo de cc que otorga el agarre comienza a contar ejemplo: agarres tipo frotamiento, confinamiento, etc...</p>
                                    </div>
                                </div>



                            </div>

                        </div>







                    </div>
                </div>


            </div>






        </div>



    </section>





    <!--Footer -->
    <div id="footer" class="p-5">
        <div class="container-fluid text-center bg-dark ">
            <div class="row">
                <div class="col">

                    <div class="col d-inline-flex  p-3">
                        <a href="https://discord.com/"><img src="Imagenes/Discord.png" class="img-fluid" width="20" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://twitch.com/"><img src="Imagenes/Twitch.png" class="img-fluid" width="20" alt=""></a>
                    </div>
                    <div class="col d-inline-flex p-3">
                        <a href="https://Youtube.com/"><img src="Imagenes/Youtube.png" class="img-fluid" width="20" alt=""></a>
                    </div>
                    <br> © 2021 El Libro del Combate. Derechos por Reservar. Este sitio no esta afiliado con RedFox ni PearlAbyss


                </div>


            </div>
        </div>

        <button onclick="topFunction()" id="myBtn" title="Go to top">Subir</button>
    </div>

    <script src="/Libreria/js/boton.js"></script>
    <script src="Libreria/js/popper.min.js"></script>
    <script src="Libreria/js/bootstrap.min.js"></script>
</body>

</html>